.saudade-bg {
  position: fixed;
  inset: 0;
  background: url("URL_DA_SUA_IMAGEM.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.saudade-card {
  position: relative;
  background: rgba(0, 0, 0, 0.76);
  padding: 2rem;
  text-align: center;
  min-width: 350px;
  min-height: 259px;
}

.btn-muita {
  margin: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;
  background: #346b8b;
  color: white;
  cursor: pointer;
}

.btn-nada {
  margin: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;
  background: #a30000;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
}

.saudade-card h2 {
  font-family: "arial";
  font-size: 2.2rem;
  color: #000000;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 8px #ffffff;
}
